includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: trait.unused
        - identifier: class.notFound
