includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: trait.unused
        - identifier: class.notFound
